<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div>
        <label for="pseudo">Pseudo: </label>
        <input type="text" id="pseudo" formControlName="pseudo">
    </div>    
    <div>
      <label for="firstName">Firstname: </label>
      <input type="text" id="firstName" formControlName="firstName">
    </div>
    <div>
      <label for="lastName">Lastname: </label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="text" id="email" formControlName="email">
    </div>
    <div>
      <label for="phone">Phone: </label>
      <input type="text" id="phone" formControlName="phone">
    </div>
    <button type="submit" [disabled]="userForm.invalid">Send</button>
  </form>
</div>

<p>Pseudo: {{myPseudo}} </p>
<p>FirstName: {{myFirstName}} </p>
<p>LastName: {{myLastName}} </p>
<p>Email: {{myEmail}} </p>
<p>Phone: {{myPhone}} </p>

